html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
    color: #fdcc52;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    cursor: pointer;
}

a:hover,
a:focus {
    color: #fcbd20;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    padding: 100px 0;
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-y: hidden;
}

section h2 {
    font-size: 50px;
    font-weight: lighter;
    line-height: 130%;
}

::-moz-selection {
    color: white;
    background: #222222;
    text-shadow: none;
}

::selection {
    color: white;
    background: #222222;
    text-shadow: none;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #222222;
}

#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

#mainNav .navbar-brand {
    color: #fff;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
}

#mainNav h1.navbar-brand {
    margin: 2.5px 0 0 5px !important;
}

#mainNav .navbar-brand>.logo {
    margin-top: 50%;
    width: 20px;
    height: 20px;
}

#mainNav .navbar-brand>.logo #logo-fill {
    fill: #ffffff;
}

#mainNav.navbar-shrink .navbar-brand>.logo {
    background-image: url("../img/logo/logo.svg");
}

#mainNav.navbar-shrink .navbar-brand>.logo #logo-fill {
    fill: #685F9B;
}

#mainNav.secondary .navbar-brand>.logo {
    background-image: url("../img/logo/logo.svg") !important;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
    color: #fcbd20;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    padding: 12px 10px;
    color: #222222;
}

#mainNav .navbar-nav>li>a,
#mainNav .navbar-nav>li>div>a {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}

#mainNav .navbar-nav>li>a.active,
#mainNav .navbar-nav>li>div>a.active {
    color: #fdcc52 !important;
    background-color: transparent;
}

#mainNav .navbar-nav>li>a.active:hover,
#mainNav .navbar-nav>li>div>a.active:hover {
    background-color: transparent;
}

#mainNav .navbar-nav>li>a,
#mainNav .navbar-nav>li>a:focus,
#mainNav .navbar-nav>li>div>a,
#mainNav .navbar-nav>li>div>a:focus {
    color: #222222;
}

#mainNav .navbar-nav>li>a:hover,
#mainNav .navbar-nav>li>a:focus:hover,
#mainNav .navbar-nav>li>div>a:hover,
#mainNav .navbar-nav>li>div>a:focus:hover {
    color: #685f9b;
}

@media (min-width:992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        color: fade(white, 70%);
        font-size: 30px;
        margin-right: 0 !important;
        padding-top: 0 !important;
    }
    #mainNav .navbar-brand:hover,
    #mainNav .navbar-brand:focus {
        color: white;
    }
    #mainNav .navbar-nav>li>a,
    #mainNav .navbar-nav>li>a:focus,
    #mainNav .navbar-nav>li>div>a,
    #mainNav .navbar-nav>li>div>a:focus {
        color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-nav>li>a:hover,
    #mainNav .navbar-nav>li>a:focus:hover,
    #mainNav .navbar-nav>li>div>a:hover,
    #mainNav .navbar-nav>li>div>a:focus:hover {
        color: white;
    }
    #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.1);
        background-color: white;
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #222222;
    }
    #mainNav.navbar-shrink .navbar-brand:hover,
    #mainNav.navbar-shrink .navbar-brand:focus {
        color: #685f9b;
    }
    #mainNav.navbar-shrink .navbar-nav>li>a,
    #mainNav.navbar-shrink .navbar-nav>li>a:focus,
    #mainNav.navbar-shrink .navbar-nav>li>div>a,
    #mainNav.navbar-shrink .navbar-nav>li>div>a:focus {
        color: #222222;
    }
    #mainNav.navbar-shrink .navbar-nav>li>a:hover,
    #mainNav.navbar-shrink .navbar-nav>li>a:focus:hover,
    #mainNav.navbar-shrink .navbar-nav>li>div>a:hover,
    #mainNav.navbar-shrink .navbar-nav>li>div>a:focus:hover {
        color: #685f9b;
    }
}

header.masthead {
    position: relative;
    overflow-y: hidden;
    width: 100%;
    min-height: auto;
    color: white;
    background: linear-gradient(rgba(52, 148, 230, 0.8), rgba(236, 110, 173, 0.8)), url("../img/backgrounds/main.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header.masthead .header-content {
    position: relative;
    padding: 150px 0 50px;
    text-align: center;
}

header.masthead .header-content .header-content-inner {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

header.masthead .header-content .header-content-inner h1 {
    font-size: 80px!important;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 120%;
    font-weight: lighter;
}

header.masthead .header-content .header-content-inner .list-badges {
    margin-bottom: 25px;
}

header.masthead .header-content .header-content-inner .list-badges img {
    height: 50px;
    margin-bottom: 25px;
}

header.masthead .device-container {
    max-width: 300px;
    margin: 0 auto 100px;
}

header.masthead .device-container .screen img {
    border-radius: 3px;
}

@media (min-width:768px) {
    header.masthead {
        min-height: 100%;
    }
    header.masthead .header-content {
        height: 100vh;
        min-height: 600px;
        padding: 0;
        text-align: center;
    }
    header.masthead .header-content .header-content-inner {
        position: absolute;
        top: 50%;
        max-width: none;
        margin: 0;
        transform: translateY(-50%);
    }
    header.masthead .header-content .header-content-inner h1 {
        font-size: 35px;
    }
    header.masthead .device-container {
        max-width: none;
        max-height: calc(100vh - 100px);
        margin: 100px auto 0;
    }
}

@media (min-width:992px) {
    #mainNav .navbar-brand>.logo {
        background-image: url(../img/logo/logo.svg);
        height: 30px;
        width: 30px;
        margin-right: 0 !important;
        padding-top: 0 !important;
    }
    header.masthead .header-content .header-content-inner h1 {
        font-size: 50px;
    }
}

section.download {
    position: relative;
    padding: 150px 0;
}

section.download h2 {
    font-size: 50px;
    margin-top: 0;
}

section.download .badges .badge-link {
    display: block;
    margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
    margin-bottom: 0;
}

section.download .badges .badge-link img {
    height: 60px;
}

@media (min-width:768px) {
    section.download .badges .badge-link {
        display: inline-block;
        margin-bottom: 0;
    }
}

@media (min-width:768px) {
    section.download h2 {
        font-size: 70px;
    }
}

section.features .section-heading {
    margin-bottom: 70px;
}

section.features .section-heading h2 {
    margin-top: 0;
}

section.features .section-heading p {
    margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
    max-width: 300px;
    margin: 0 auto;
}

section.features .device-container {
    margin-bottom: 100px;
}

@media (min-width:992px) {
    section.features .device-container {
        margin-bottom: 0;
    }
}

section.features .feature-item {
    margin-bottom: 100px;
    text-align: center;
}

section.features .feature-item h3 {
    font-size: 30px;
}

section.features .feature-item i {
    font-size: 80px;
    background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
    background: linear-gradient(to left, #7b4397, #dc2430);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width:992px) {
    section.features .device-container,
    section.features .feature-item {
        max-width: none;
    }
    .price-product:not(:first-child):not(:last-child) {
        border-radius: 0px;
        border-width: 2px 1px 2px 1px;
    }
    .price-product:first-child {
        border-radius: 5px 0px 0px 5px;
        border-left-width: 1px;
    }
    .price-product:last-child {
        border-radius: 0px 5px 5px 0px;
        border-right-width: 1px;
    }
}

section.cta {
    position: relative;
    padding: 250px 0;
    background-image: url("../img/backgrounds/bg-cta.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.cta .cta-content {
    position: relative;
    z-index: 1;
}

section.cta .cta-content h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 25px;
    color: white;
}

@media (min-width:768px) {
    section.cta .cta-content h2 {
        font-size: 80px;
    }
}

section.cta .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
    text-align: center;
    background: white !important;
}

section.contact h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

section.contact h2 i {
    color: #dd4b39;
}

section.contact ul.list-social {
    margin-bottom: 0;
}

section.contact ul.list-social li a {
    font-size: 40px;
    line-height: 80px;
    display: block;
    width: 80px;
    height: 80px;
    color: white;
    border-radius: 100%;
}

section.contact ul.list-social li.social-twitter a {
    background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
    background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
    background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
    background-color: #344e86;
}

section.contact ul.list-social li.social-google-plus a {
    background-color: #dd4b39;
}

section.contact ul.list-social li.social-google-plus a:hover {
    background-color: #d73925;
}

@media (max-width:768px) {
    section.products>.container>.row>div:not(:first-child) {
        padding-top: 100px;
    }
    section.clients>div>.row>div {
        padding: 100px 0px;
    }
}

@media (max-width:992px) {
    .price-product:not(:first-child):not(:last-child) {
        border-radius: 0px;
        border-width: 1px 2px 1px 2px;
    }
    .price-product:first-child {
        border-radius: 5px 5px 0px 0px !important;
        border-bottom-width: 1px;
    }
    .price-product:last-child {
        border-radius: 0px 0px 5px 5px !important;
        border-top-width: 1px;
    }
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #222222;
}

footer p {
    font-size: 12px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
}

.bg-primary {
    background: #685f9b;
    background: -webkit-linear-gradient(#bfbdc1, #685f9b);
    background: linear-gradient(#bfbdc1, #685f9b);
}

.bg-secondary {
    color: #3c3744;
    background: -webkit-linear-gradient(#3c3744, #3c3744);
    background: linear-gradient(#3c3744, #3c3744);
}

.text-primary {
    color: #bfbdc1;
}

.text-secondary {
    color: white;
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn-outline {
    color: white;
    border: 1px solid;
    border-color: white;
    margin-left: 20vw;

}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: white;
    border-color: #fdcc52;
    background-color: #fdcc52;
}

.btn-outline.secondary:hover,
.btn-outline.secondary:focus,
.btn-outline.secondary:active,
.btn-outline.secondary.active {
    color: white;
    border-color: #52A7FC !important;
    background-color: #52A7FC !important;
}

.btn {
    border-radius: 300px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
}

.btn-xl {
    font-size: 30px;
    padding: 15px 45px;
}

.flip-container {
    perspective: 1000px;
}

.flip-container.flippity .flipper {
    transform: rotateY(180deg);
}

@media (min-width:768px) {
    .flip-container:hover .flipper {
        transform: rotateY(180deg);
    }
}

.flip-container,
.front,
.back {
    width: 100%;
    height: 100%;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s ease-out;
}

.flip-container.flippity>.flipper>.back {
    opacity: 1;
}

@media (min-width:768px) {
    .flip-container:hover>.flipper>.back {
        opacity: 1;
    }
}

.back>ul {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5% 0;
}

.back>ul>li {
    margin: 5px;
    list-style: none;
    border-radius: 2px;
    border: 1px solid #685F9B;
    color: #685F9B;
    background-color: #000;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    padding: 10% 0;
}

.back>ul>li>h2 {
    font-size: 40px;
}

.back>ul>li:first-child {
    border-radius: 60px 60px 0px 0px;
}

.back>ul>li:last-child {
    border-radius: 0px 0px 60px 60px;
}

.back>ul>li:hover {
    -webkit-transform: scale(1.05);
}

.back>ul>li:first-child:nth-last-child(1) {
    height: 100%;
}

.back>ul>li:first-child:nth-last-child(2),
.back>ul>li:first-child:nth-last-child(2)~li {
    height: 50%;
}

.back>ul>li:first-child:nth-last-child(3),
.back>ul>li:first-child:nth-last-child(3)~li {
    height: 33.3333%;
}

.back>ul>li:first-child:nth-last-child(4),
.back>ul>li:first-child:nth-last-child(4)~li {
    height: 25%;
}

section.clients {
    
    background-image: url('../img/backgrounds/desktop6edit.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clients-content {
    padding: 0px 25%;
}

.client>h3 {
    position: relative;
}

.client-logo {
    width: 100%;
    background-color: black;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.dummy,
.logo {
    background-position: center center;
    background-repeat: no-repeat;
}

.logo {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.dummy {
    position: absolute;
    left: -50px;
    top: -50px;
    width: calc(100% + 50px);
    height: calc(100% + 50px);
    -webkit-filter: blur(35px);
    background-size: cover;
}

.price-product {
    -webkit-transition: all 500ms ease-out;
    text-align: center;
    padding: 25px;
    cursor: pointer;
    border: 2px solid white;
}

.price-product>h2 {
    pointer-events: none;
}

.price-product:not(.chosen):hover {
    -webkit-transform: scale(0.95);
}

.price-product:active {
    -webkit-transform: scale(0.8);
}

.price-product.chosen {
    background-color: white;
    color: #685f9b;
}

.preload {
    background-color: #191919;
}

.preload>img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    min-height: 50px;
    left: 0;
    height: 100%;
    width: 100%;
}

.contact-form>div>input,
.contact-form>div>textarea {
    background: transparent;
    color: white;
    border-color: white;
}

.contact-form>div>textarea {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.contact-form>div>textarea:focus::-webkit-input-placeholder {
    color: #64b0fc;
}

.contact-form>div>textarea::-webkit-input-placeholder {
    color: white;
}

.contact-form>div>input:focus::-webkit-input-placeholder {
    color: #64b0fc;
}

.contact-form>div>input::-webkit-input-placeholder {
    color: white;
}

.contact-form>div>div {
    border-radius: 0px 0px 5px 5px;
    border: 0.5px solid white;
    width: 100%;
    padding: 15px 0px;
    color: #64b0fc;
    font-size: 2em;
    cursor: pointer;
    background-color: white;
    -webkit-transition: all 500ms ease-out;
}

.contact-form>div>div:active {
    background-color: white;
    color: #64b0fc;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dropdown-menu {
    padding: 8px;
}

.lazyload {
    -webkit-transition: all 1s ease-in-out !important;
}

.products.container {
    margin-top:5vh;
}

.products {
    background-color: #f0f3f5;
}

div.box{
    margin-top: 6vh;
    margin-left: 3vw;
    
    overflow: hidden;

    border: 3px solid #000;
    
}

h3.text-box{
    margin-top: 2vh;
    margin-left:auto;
    height: 4vh;

    padding-left: 3ch;
    padding-right: 3ch;
    padding-top: 1vh;
    padding-bottom: 3vh;

    display: inline-block;
    white-space: nowrap;


    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-family: "Lato"; 
    font-size: 20px;

}

h3.button{

    color: #000;
    border: 2px solid #000;
    margin-bottom: 2vh;
}

h3.text-box.button:hover{
    background-color: #000;
    color: white;
    border: 2px solid #000;
}

ul.main-list {
    list-style-image:url(../img/icons/check-mark.png); 
    text-align:left;
    font-size: 20px;
   
   
    margin-top: 3vh;
    margin-bottom: 7vh;

}

.main-list li {
    
    margin-bottom: 3vh;
    width: 15ch;
}

.disabled {
    opacity: 0.2;
}

h4 {
    font-family: "Lato";
}
.line-trough {
    font-size: 20px;
    text-decoration: line-through;
}


.arrow {
    height: 5vh;
    width: 5vw;
    text-align: center;
    
}

.about {

    background-image: url("../img/backgrounds/desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color:white;
}



.design-applications {
 
    line-height:150%;
        

}

#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(0.5);
}



.video-container {
    position: relative;
}

  .overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .white {
      color: white!important;
      border-color: white!important;
      
  }

  .button.white:hover {
      border-color: black!important;
      color:white;
  }

  .huge {
      font-size: 90px;
      font-weight: lighter;
  }

.bold {
    font-weight: bold;
}

.features-icon {
    height: 10vh;
    width: 10vw;
    margin-bottom: 2vh;
}

.margins {

    margin-top: 4vh!important;
    margin-bottom: 4vh!important;
   
}